body {
	font-family: sans-serif;
	background: #E0E0E1;
	text-align: center;
}

#content {
	width: 500px;
	margin: auto;
	text-align: left;
}

header {
	text-align: center;
	color: #f36d33;
}

pre {
	background: #f4f4f4;
	border: 1px solid #ddd;
	border-left: 3px solid #f36d33;
	color: #666;
	page-break-inside: avoid;
	font-family: monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1em 1.5em;
	display: block;
	word-wrap: break-word;
}


.main-container {
	height: 100px;
	position: relative;
}


#btn-show-modal-code-snippet {
	padding: 0.75em;
	font-size: 1.5em;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #f36d33
}

input[type="text"],
.modal-content>input[type="button"] {
	font-size: 1.25em;
	padding: 0.5em;
}

input[type="button"] {
	padding: 0.75em;
	border: none;
	background-color: #f36d33;
	color: white;
}

article {
	margin-bottom: 2em;
}

article>h3 {
	border-bottom: 1px dashed black;
	padding: 0.25em;
}

.modal {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal.open {
	display: block;
}

.modal-content {
	background-color: #fefefe;
	margin: 25% auto;
	padding: 20px;
	vertical-align: center;
	text-align: center;
	border: 1px solid #888;
	width: 80%;
}

.modal-content div {
	margin-bottom: 80px;
}